{
        "authBearer":"YOUR_Rotom_SECRET",
        "deviceAuthToken":"YOUR_AEGIS_AUTH_TOKEN",
        "deviceName":"dummy",
        "email":"YOUR_AEGIS_REGISTRATION_EMAIL",
        "rotomUrl":"http(s)://YOUR_Rotom_URL:9001",
        "runOnBoot":true,
        "workers":8
}