{
    "api_key": "<exeggcute_api_key>",
    "device_name": "dummy",
    "rotom_url": "ws://<rotom_url:port>",
    "rotom_secret": "<rotom_secret>",
    "workers_count": <workers_count>,
    "remote_attestations": false
}