{
    "atlas: install atlas":
    [
        {
        "TYPE": "jobType.PASSTHROUGH",
        "SYNTAX": "su -c 'file="/data/local/aconf_download" && touch $file  && echo url=https://mydownloadfolder.com > $file  && echo authUser="" >> $file && echo authPass="" >> $file && mount -o remount,rw /system && /system/bin/curl -L -o /system/bin/atlas.sh -k -s https://raw.githubusercontent.com/dkmur/aconf/master/atlas.sh && chmod +x /system/bin/atlas.sh && /system/bin/atlas.sh -ia'"
        }
    ],

    "atlas: install atlas using aconf develop":
    [
        {
        "TYPE": "jobType.PASSTHROUGH",
        "SYNTAX": "su -c 'touch /sdcard/useAconfDevelop && file="/data/local/aconf_download" && touch $file  && echo url=https://mydownloadfolder.com > $file  && echo authUser="" >> $file && echo authPass="" >> $file && mount -o remount,rw /system && /system/bin/curl -L -o /system/bin/atlas.sh -k -s https://raw.githubusercontent.com/dkmur/aconf/master/atlas.sh && chmod +x /system/bin/atlas.sh && /system/bin/atlas.sh -ia'"
        }
    ]
}
