pogo=0.307.1
atlas=v24040401-rev2
atlas_md5=35d5c450a5faa64cf217aba6a90998e4
rgc=off

# Settings for Atlas monitor script
useMonitor=false
monitor_interval=300
update_check_interval=3600
discord_webhook=""
debug=false

# Settings for atvdetails sender (port and basic auth, user+pass, are optional)
useSender=false
atvdetails_interval=900
atvdetails_receiver_host=""
atvdetails_receiver_port=""
atvdetails_receiver_user=""
atvdetails_receiver_pass=""

# Settings for Monitor Webhooks
recreate_atlas_config=true
atlas_died=true
pogo_died=true
device_offline=true
unable_check_status=true
pogo_not_focused=false
healthcheck_errors=true

# Settings for Atlas.sh
play_integrity=true
loop_protect_enabled=true
proxy_address=""
set_proxy_only_in_same_network=true
PIF_module="14.5"
FingerPrintVersion="1"