pogo=0.235.0
atlas=v22050101
rgc=off

# Settings for Atlas monitor script
useMonitor=false
monitor_interval=300
update_check_interval=3600
discord_webhook=""
debug=false

# Settings for atvdetails sender (port and basic auth, user+pass, are optional)
useSender=false
atvdetails_interval=900
atvdetails_receiver_host=""
atvdetails_receiver_port=""
atvdetails_receiver_user=""
atvdetails_receiver_pass=""

# Settings for Monitor Webhooks
recreate_atlas_config=true
atlas_died=true
pogo_died=true
device_offline=true
unable_check_status=true
pogo_not_focused=false
gmo_errors=true
play_integrity=true
bypass_loopprotect=false